:root {
  --main-color-text: #9c9c9c;
  --second-color-text: #ffffff;
  --bg-color: #0d0d11;
}

body {
  font-family: "Poppins";
  font-weight: 300;
  background-color: var(--bg-color);
  color: var(--main-color-text);
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

.text {
  color: #81818b;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1310px;
}

.button {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
  padding: 16px 30px;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43; /* 22/14 */
  color: var(--second-color-text);
  background-color: #3d96f4;
  border-radius: 50px;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: #689fdb;
}

@media (max-width: 991.98px) {
  .button {
    padding: 14px 20px;
  }
}
.batton-dark {
  background: rgba(129, 129, 139, 0.2);
}
.batton-dark:hover {
  background-color: rgba(129, 129, 139, 0.4);
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25px;
            flex: 0 0 25px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span,
.icon-menu::before,
.icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--second-color-text);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
}
.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 1px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 1px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(13, 13, 17, 0.7);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header_main__label {
  display: inline-block;
  border-radius: 12px;
  font-size: 10px;
  line-height: 1.7; /* 17/10 */
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 11px 18px;
  border: 1px solid rgba(129, 129, 139, 0.2);
  -webkit-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}
.header_main__label:not(:last-child) {
  margin-bottom: 19px;
}
.header_main__label:hover {
  border: 1px solid rgba(129, 129, 139, 0.4);
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 3px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header .menu__link {
  display: block;
  font-size: 16px;
  line-height: 1.62; /* 26/16 */
  color: var(--second-color-text);
}
.header .menu__link:hover {
  text-decoration: underline;
}
.header .header__logo,
.header .header__cart,
.header .header__button {
  position: relative;
  z-index: 5;
}
.header .cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  color: var(--second-color-text);
}
.header .cart-header:hover .header .cart-header__text {
  text-decoration: underline;
}
.header .cart-header__text {
  font-size: 18px;
  line-height: 1.55; /* 28/18 */
}
.header .cart-header__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.3);
}

@media (max-width: 991.98px) {
  .menu__list,
.header__container {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
  .header__container {
    min-height: 90px;
  }
}
@media (max-width: 767.98px) {
  .menu__list,
.header__container {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: black;
    z-index: 2;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__list {
    row-gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .menu__link {
    font-size: 32px;
  }
  .header__container {
    min-height: 70px;
  }
}
@media (max-width: 560px) {
  .cart-header__text {
    display: none;
  }
}
@media (max-width: 560px) {
  .header__logo {
    width: 32px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32px;
            flex: 0 0 32px;
    overflow: hidden;
  }
}
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main {
  padding-top: 160px;
  padding-bottom: 100px;
}
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      align-self: center;
}
.main__header {
  position: relative;
}
.main__header::before {
  content: "";
  background: url(../img/main/decor.svg) 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  position: absolute;
  top: -15px;
  left: -31px;
}
.main__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.header_main__title {
  font-weight: 500;
  font-size: 51px;
  line-height: 1.19; /* 61/51 */
  color: var(--second-color-text);
}
.header_main__title:not(:last-child) {
  margin-bottom: 28px;
}
.header_main__text {
  font-size: 18px;
  line-height: 1.5; /* 27/18 */
}
.header_main__text:not(:last-child) {
  margin-bottom: 33px;
}
.header_main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 15px;
}

.images-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9.615385%; /* 60/624 */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.images-main__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.images-main__item {
  overflow: hidden;
}
.images-main__item_1, .images-main__item_4 {
  border-radius: 50%/29%;
}
.images-main__item_2 {
  border-radius: 50% 50% 0 50%;
}
.images-main__item_3 {
  border-radius: 50% 0 50% 50%;
}
.images-main__item img {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .main {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .header_main__title {
    font-size: 44px;
  }
}
@media (max-width: 767.98px) {
  .main {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__content {
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
  .header_main__title {
    font-size: 32px;
  }
  .header_main__title:not(:last-child) {
    margin-bottom: 15px;
  }
  .header_main__text:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .header_main__title {
    max-width: 520px;
  }
  .header_main__text {
    max-width: 500px;
  }
}
@media (max-width: 479.98px) {
  .header_main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.clients {
  padding-top: 100px;
  padding-bottom: 70px;
}

.clients__title {
  margin-bottom: 44px;
  text-align: center;
  color: var(--second-color-text);
  font-size: 14px;
  line-height: 1.57; /* 22/14 */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.clients__item img {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .clients__title {
    margin-bottom: 20px;
  }
}
.services {
  padding-top: 70px;
  padding-bottom: 100px;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.services__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      align-self: center;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__column:first-child {
  padding-top: 48px;
}

.services__item:not(:last-child) {
  margin-bottom: 32px;
}

.item-service {
  display: block;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 55px 25px;
}

.item-service__icon:not(:last-child) {
  margin-bottom: 16px;
}

.item-service__title {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.42; /* 27/19 */
  color: var(--second-color-text);
}
.item-service__title:not(:last-child) {
  margin-bottom: 10px;
}

.item-service__text {
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
}

@media (max-width: 1100px) {
  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__header .header_main__title,
.services__header .header_main__text {
    max-width: none;
  }
}
@media (max-width: 991.98px) {
  .services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .services {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 620px) {
  .services__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__column:first-child {
    padding-top: 0px;
  }
}/*# sourceMappingURL=main.css.map */