.page__clients {
}
.clients {
  padding-top: 100px;
  padding-bottom: 70px;
}

.clients__title {
  margin-bottom: 44px;
  text-align: center;
  color: var(--second-color-text);
  font-size: 14px;
  line-height: 1.57; /* 22/14 */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.clients__items {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.clients__item img {
  max-width: 100%;
}
@media (max-width: 991.98px) {
  .clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .clients__title {
    margin-bottom: 20px;
  }
}
